@font-face {
    font-family: 'pixelated';
    src: url('fonts/mini_pixel-7.ttf') format('opentype');
}

@font-face {
    font-family: 'pixel';
    src: url('fonts/Chars.otf') format('opentype');
}


body {
    font-family: Arial, sans-serif;
    color:darkturquoise;
    text-align: center;
    margin: 0;  
    overflow: hidden;  
    cursor :pointer;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('images/newfire.jpeg');  
    background-size: cover;
    background-position: center;
    z-index: -1;  
}
.lives-container {
    position: absolute;
    top: 10px;  
    right: 10px;  
    z-index: 2;  
}

.heart {
    font-size: 30px;  
    color: red;  
    margin-right: 10px;  
}

.centered-heading {
    position: absolute;
    top: 7%;  
    left: 30%;
    transform: translate(-75%, -15%);
    text-align: center;
    z-index: 1;  
}

#codexCrusade {
    font-size: 88px;
    color :#FFD700;  
    font-family: 'pixelated', Arial, sans-serif;  
    white-space: nowrap;  
    overflow: hidden;  
    line-height: 0.6;
    border-right: 0.1em solid;  
    animation: typing 3s steps(22, end), blink-caret 1s step-end infinite;  
}

.paragraph {
    display: block;
    position: absolute;
    top: 37%;  
    left: 60%;
    color :turquoise;
    transform: translate(-50%, -50%);
    width: 70%;  
    text-align: center;
    font-size: 25px;
    font-family: 'pixelated', Arial, sans-serif;  
    visibility :hidden;  

}

#typewriter-paragraph {
    animation: typingParagraph 5s steps(80, end) forwards;  
}

 
.table-container {
    position: absolute;
    top: 67%;  
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;  
}

table {
    width: 90%;
    border-collapse: collapse;
    color :aqua;
    border: 3px solid;  
    border-radius: 40px;  
}

th, td {
    border: 2px solid aquamarine;  
    padding: 4px;
    text-align: center;
    font-family: 'pixel';
}

th {
    background-color: transparent;  
    color :#FFD700;  
    font-size: 23px;
    font-family: 'pixel', Arial, sans-serif;
}

td {
    background-color: transparent;  
    color :lightcoral;  
    font-size: 20px;
}


button {
    margin-top: 530px;
    margin-left: 50px;
    padding: 10px 20px;
    font-family: 'pixelated', sans-serif;
    font-size: 28px;
    cursor: pointer;
    background-color: #FFD700;
    top:10%;
    border: none;
    border-radius: 5px;
    color: #333;
    transition: opacity 2s ease-in-out;  
    cursor :default;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #FFD700;   }
}

@keyframes typingParagraph {
    from { width: 0; }
    to { width: 100%; }
}

