@font-face {
    font-family: 'pixelated';
    src: url('fonts/mini_pixel-7.ttf') format('opentype');
}

body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    padding: 50px;
    margin: 0; 
    transition: opacity 1s ease-in-out; 
}


body.fade-out { opacity: 0;}

.typewriter h1 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 30px;
    animation: typing 8s steps(40, end); 
    font-family: 'Courier New', monospace;
    color: #FFD700; 
}

.typewriter p {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    font-size: 27px;
    line-height: 1.6;
    animation: typing 4s steps(40, end);
    font-family: 'pixelated'; 
    color: whitesmoke; 
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-family: 'pixelated', sans-serif;
    font-size: 28px;
    cursor: pointer;
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    color: #333;
    transition: opacity 2s ease-in-out;  
    opacity: 0;  
}

.centered-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#codexCrusade {
    font-size: 3em;
    color: #FFD700; 
    font-family: 'pixelated', Arial, sans-serif;  
}

.background-image {
    background-image: url('images/bg.jpg');  
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

